{{ define "main" }}
<h1 class="mb-6 text-4xl font-extrabold">HTTP 404了，那我來分享一首歌</h1>
<p class="mt-8 mb-12 text-neutral-400 dark:text-neutral-500">
    此頁面不存在，若有任何問題請找主頁上的連結與我聯繫  
  </p>
<iframe  width="100%" height="535" src="https://www.youtube.com/embed/Ht6lcYg9Zfo?si=YeSUoVM7xBj4g86N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{{ end }}


